<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Needed for MySQL connection -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                     android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ksj_logo"
        android:label="KSJ Complaint N Maintenance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KSJComplaintNMaintenance"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AdminStaffUpdateAss"
            android:exported="false" />
        <activity
            android:name=".StudentViewComplaintHistory"
            android:exported="false" />
        <activity
            android:name=".AdminMonthlySummary"
            android:exported="false" />
        <activity
            android:name=".StaffViewComplaintTask"
            android:exported="false" />
        <activity
            android:name=".ComplaintDetailActivity"
            android:exported="false" />
        <activity
            android:name=".StaffAssignedTask"
            android:exported="false" />
        <activity
            android:name=".AdminViewComplaint"
            android:exported="false" />
        <activity
            android:name=".ResetNewPassword"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordOTP"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordEmail"
            android:exported="false" /> <!-- 1. SPLASH SCREEN (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 2. AUTHENTICATION -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- 3. STUDENT ACTIVITIES -->
        <activity
            android:name=".StudentDashboard"
            android:exported="false" />
        <activity
            android:name=".StudentComplaintForm"
            android:exported="false" />
        <activity
            android:name=".StudentHistory"
            android:exported="false" />
        <activity
            android:name=".StudentFeedbackForm"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".StudentPending"
            android:exported="false" />
        <activity
            android:name=".StudentNotification"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".StaffDashboard"
            android:exported="false" />
        <activity
            android:name=".StaffFeedbackBoard"
            android:exported="false" />
        <activity
            android:name=".AdminComplaintList"
            android:exported="false" />
        <activity
            android:name=".AdminFeedbackBoard"
            android:exported="false" />
        <activity
            android:name=".UserManagement"
            android:exported="false" />
        <activity
            android:name=".UserInfo"
            android:exported="false" />
        <activity
            android:name=".AdminCreateUser"
            android:exported="false" />
    </application>

</manifest>